<h1><%= @flat.name %></h1>
<h3><%= @flat.description %></h3>
<h3>Price/night: £<%= @flat.price_per_night %></h3>
<h3>Guests: <%= @flat.number_of_guests %></h3>
<p><%= @flat.address %></p>
<%= link_to "Back", flats_path %>